<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="delete_folder_body">
            <div class="all_title">
                Delete file or folder.
            </div>
            <button class="delete_folder_finder btn-primary">
                (finder mode)
            </button>
            <br/>
            <div class="path">
                {{ Path }}
            </div>
            <div class="folder_mid_title">
                the folders
            </div>
            <div>
                {% for n_folder in Folders %}
                    <button class="delete_folder_folder btn" value="{{ Path }}/{{ n_folder }}"> {{ n_folder }}</button>
                {% endfor %}
            </div>
            <div class="folder_mid_title">
                the files
            </div>
            <div>
                {% for n_files in Files %}
                    <button class="delete_folder_file btn" value="{{ Path }}/{{ n_files }}">{{ n_files }} </button>
                {% endfor %}
            </div>
            <br/>
        </div>
    </body>
</html>
<script>
    $(document).ready(function($){
        $(".delete_folder_folder").click(function(){
            $str = this.value;
            $(".folder_layer").load("{% url 'delete_folder' %}",{path:"{{ Path }}", delete_path: $str, csrfmiddlewaretoken:'{{csrf_token}}'});
        });
        $(".delete_folder_file").click(function(){
            $str = this.value;
            $(".folder_layer").load("{% url 'delete_folder' %}",{path:"{{ Path }}", delete_path: $str, csrfmiddlewaretoken:'{{csrf_token}}'});
        });
        $(".delete_folder_finder").click(function(){
            $(".folder_layer").load("{% url 'folder' %}",{path : '{{Path}}', csrfmiddlewaretoken : '{{ csrf_token }}'});
        });
        resize_source();
    });
</script>