<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="find_folder_body">
            <div class="all_title">
                Folder Finder.
            </div>
            <br/>
            <div class="path">
                {{ Path }}
            </div>
            <div class="folder_midtitle">
                the folders
            </div>
            {% load staticfiles %}
            <div>
                {% if Path !=  "" %}
                    <button class="folder_button btn" value="cd .." link="null" path="null">..</button>
                {% endif %}
                {% for n_folder in Folders %}
                    <button class="folder_button btn" value="cd {{ n_folder }}" link="{{ Path }}/{{ n_folder }}" path="{{ Path }}"> {{ n_folder }}</button>
                {% endfor %}
                <button class="folder_make btn">
                    <img src="{% static "images/add_folder.png" %}">
                </button>
            </div>
            <div class="folder_midtitle">
                the files
            </div>
            <div>
                {% for n_files in Files %}
                    <button class="file_button btn" value="{{ Path }}/{{ n_files }}" link="{{ Path }}/{{ n_files }}" path="{{ Path }}">{{ n_files }} </button>
                {% endfor %}
                <button class="file_make btn">
                    <img src="{% static "images/add_file.png" %}">
                </button>
            </div>
            <br/>
        </div>
    </body>
</html>
<script>
    $(document).ready(function($){
        $(".folder_button").click(function(){
            $str = this.value;
            $(".folder_layer").load("{% url 'folder' %}",{ order : $str, path: "{{ Path }}" , csrfmiddlewaretoken:'{{csrf_token}}'});
        });
        $(".file_button").click(function(){
            $str = this.value;
            $(".source_layer").load("{% url 'coding' %}",{ path: $str, csrfmiddlewaretoken:'{{csrf_token}}'});
        });
        $(".folder_make").click(function(){
            $str = "{{ Path }}";
            $(".popup_layer").load("{% url 'make_folder' %}",{ type: 'folder', path: $str, csrfmiddlewaretoken:'{{csrf_token}}'});
        });
        $(".file_make").click(function(){
            $str = "{{ Path }}";
            $(".popup_layer").load("{% url 'make_folder' %}",{ type: 'file', path: $str, csrfmiddlewaretoken:'{{csrf_token}}'});
        });
        resize_source();
    });
</script>