<html>
    <div class="make_folder_body">
        <div class="all_title">
            {% if Type == 'folder' %}
                Make Folder.
            {% else %}
                Make File.
            {% endif %}
        </div>
        <button class="make_folder_back btn btn-primary">Back</button>
        <br/>
        {{ Path }}/
        <div class="input-append">
            <input class="make_folder_text" type="text" placeholder="{{ Example }}">
            <button class="make_folder_btn btn btn-primary"> {{ Btn_name }}</button>
        </div>
    </div>
</html>
<script>
    $(document).ready(function($){
        {% if Move == "true" %}
            $(".folder_layer").load("{% url 'folder' %}",{path : '{{Path}}', csrfmiddlewaretoken : '{{ csrf_token }}', type:'{{ Type }}'});
        {% endif %}
        resize_source();
        $('.make_folder_btn').click(function(){
            $str = $(".make_folder_text").val();
            $(".folder_layer").load("{% url 'make_folder' %}",{path : '{{ Path }}', csrfmiddlewaretoken : '{{ csrf_token }}', new_folder: $str, type:'{{ Type }}'});
        });
        $('.make_folder_back').click(function(){
            $(".folder_layer").load("{% url 'folder' %}",{path : '{{Path}}', csrfmiddlewaretoken : '{{ csrf_token }}'});
        });
    });
</script>