<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load staticfiles %}
        {% for i in Ext_Link %}
            <script src="{% static i %}"></script>
        {% endfor %}
    </head>
    <body>
        <span class="all_title">
            {{ File_name }}
        </span>
        <div class="coding_btn">
            <button class="save btn btn-primary" title="ctrl+s">
                Save
            </button>
            <button class="run btn btn-success" title="ctrl+r">
                Run
            </button>
        </div>
        <br/>
        <div class="path">
            {{ Path }}
        </div>
        <textarea class="Coding_Text"  name="source" autofocus="autofocus">{{ Text }}</textarea>
    </body>
</html>
<script>
    $(document).ready(function(){
        var myCodeMirror = CodeMirror.fromTextArea(document.getElementsByName('source').item(0),{
            lineNumbers: true,
            mode: "{{ Mode }}",
            theme: "dracula",
            styleActiveLine: true,
            matchBrackets: true
        });
       myCodeMirror.setSize("100%","calc(100% - 30px)");
       $(".run").click(function(){
           $text = myCodeMirror.getValue();
           $(".popup_layer").load("{% url 'run' %}",{coding_Text:$text, csrfmiddlewaretoken:'{{csrf_token}}', path:'{{Path}}', ext:'{{ Ext }}'});
       });
       $(".save").click(function(){
           $text = myCodeMirror.getValue();
           $(".popup_layer").load("{% url 'save' %}",{coding_Text:$text, csrfmiddlewaretoken:'{{csrf_token}}', path:'{{Path}}'});
       });
       notice("{{ Path }}");
    });
    $(window).bind('keydown', function(event) {
        if (event.ctrlKey || event.metaKey) {
            switch (String.fromCharCode(event.which).toLowerCase()) {
                case 's':
                    event.preventDefault();
                    $(".save").click();
                    break;
                case 'r':
                    $(".run").click();
                    event.preventDefault();
                    break;
            }
        }
    });
</script>