<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="all_title">
            Coding.
        </div>
        {{ Path }}
        <textarea class="Coding_Text"  name="source" autofocus="autofocus">{{ Text }}</textarea>
        <button class="save">
            저장.
        </button>
        <button class="submit">
            실행.
        </button>
        <div class="Result_load">
        </div>
    </body>
</html>
<script>
    $(document).ready(function(){
        var myCodeMirror = CodeMirror.fromTextArea(document.getElementsByName('source').item(0),{
            lineNumbers: true,
            mode: "text/x-c++src",
            theme: "dracula",
            styleActiveLine: true,
            matchBrackets: true
        });
       myCodeMirror.setSize("100%","calc(100% - 70px)");
       $(".submit").click(function(){
           $text = myCodeMirror.getValue();
           $(".Result_load").load("{% url 'result' %}",{coding_Text:$text, csrfmiddlewaretoken:'{{csrf_token}}'});
       });
       $(".save").click(function(){
           $text = myCodeMirror.getValue();
           $(".Result_load").load("{% url 'save' %}",{coding_Text:$text, csrfmiddlewaretoken:'{{csrf_token}}', path:'{{Path}}'});
       })
    });

</script>