<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/coding_machine_main.css" %}">
    <link rel="stylesheet" href="{% static "css/bootplus.min.css" %}">
    <body style="width:100%; height:100%">
        <div class="login_form">
            <div class="all_title"> Login </div>
            <br/><br/>
            {{ NOTI }}
            <br/><br/>
            <form href="{% url 'login' %}" method="POST">
                <div>
                <input type="text" name="id" value="{{ ID }}" placeholder="ID"/>
                </div>
                <div>
                <input type="password" name="pw" value="{{ PW }}" placeholder="PW"/>
                </div>
                {% csrf_token %}
                <button class="login_btn btn btn-primary" onclick="submit();">Login</button>
            </form>
        </div>
    </body>
</html>