<!DOCTYPE html>
<html lang="en" style="height:95%">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "codemirror/lib/codemirror.js" %}"></script>
    <link rel="stylesheet" href="{% static "codemirror/lib/codemirror.css" %}">
    <script src="{% static "codemirror/mode/javascript/javascript.js" %}"></script>
    <link rel="stylesheet" href="{% static "codemirror/theme/dracula.css" %}">
    <script src="{% static "codemirror/addon/edit/matchbrackets.js" %}"></script>
    <script src="{% static "codemirror/addon/selection/active-line.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/coding_machine_main.css" %}">
    <link rel="stylesheet" href="{% static "css/bootplus.min.css" %}">
    <title>Web_Coding</title>
</head>
<body class="main">
    <button class="toggle_btn btn btn-primary" value="close">
        <div class="triangle">
        </div>
    </button>
    <form class="logout_btn" action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class=" btn btn-primary" onclick="submit();">
            Log out
        </button>
    </form>
    <div style="height:100%;">
        <div class="folder_layer">
        </div>
        <div class="source_layer">
        </div>
        <div class="notice_layer" hidden>
            notice_layer
        </div>
    </div>
</body>
</html>

<script>
    $(document).ready(function($){
        $(".folder_layer").load("{% url 'folder' %}");
        /*$(".source_layer").load("{% url 'coding' %}");*/
        $(".toggle_btn").click(function(){
            $btn = this;
            $str = $btn.getAttribute("value");
            $folder_layer = $(".folder_layer");
            $source_layer = $(".source_layer");
            $triangle = $(".triangle");
            if($str.localeCompare("close") == 0){
                $folder_layer.animate({height:"0%"},"fast",function(){
                    $btn.setAttribute("value","open");
                    $folder_layer.hide();
                });
                $triangle.css('borderBottomWidth','0px');
                $triangle.css('borderTopWidth','10px');
                $source_layer.animate({height:"100%"},"fast");
            }
            else if($str.localeCompare("open") == 0){
                $folder_layer.show();
                $autoHeight = $folder_layer.css('height', 'auto').height();
                $folder_layer.height(0);
                $folder_layer.stop().animate({ height: $autoHeight }, "fast",function(){
                    $btn.setAttribute("value","close");
                    $folder_layer.height("auto");
                });
                $triangle.css('borderBottomWidth','10px');
                $triangle.css('borderTopWidth','0px');
                $str = $source_layer.height() - $autoHeight;
                $source_layer.animate({height:$str},"fast",function(){
                    resize_source();
                });
            }
        });
    });

    function resize_source(){
        {# flexible size #}
        $folder = $(".folder_layer");
        $height = $folder.height().toString();
        $str = "100% - " + $folder.height().toString() + "px";
        $(".source_layer").height("calc("+$str+")");
    }
    function notice($str){
        $notice_layer = $(".notice_layer");
        $notice_layer.html($str);
        $notice_layer.fadeIn();
        setTimeout(function g(){
            notice_delete($str)
        }, 3000);
    }
    function notice_delete($str){
        $notice_layer = $(".notice_layer");
        if($notice_layer.html().localeCompare($str) == 0){
            $notice_layer.fadeOut();
        }
    }
</script>